/* Main Variants */
@define-color background #050505;
@define-color text #F0F0F0;
@define-color blue #898cab;
@define-color lightblue #89a1ab;
@define-color teal #8AABAC;
@define-color magenta #AC8AAC;
@define-color pink #AC8AAC;
@define-color purple #8F8AAC;
@define-color yellow #ACA98A;
@define-color green #8AAC8B;
@define-color red #AC8A8C;
/* Lighter Variants */
@define-color light-background #0E0E0E;
@define-color light-text #FAFAFA;
@define-color light-blue #7a7d9a;
@define-color light-lightblue #7a9099;
@define-color light-teal #9EC3C4;
@define-color light-magenta #C49EC4;
@define-color light-pink #C49EC4;
@define-color light-purple #A39EC4;
@define-color light-yellow #C4C19E;
@define-color light-green #9EC49F;
@define-color light-red #C49EA0;
/* Custom */
@define-color ultralight-background #151515;
@define-color dark-text #050505;
/* END */

* {
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
	font-family: 'Material Design Icons','NerdFonts', FontAwesome, 'Fira Code', sans-serif;
    font-size: 13px;
}

.modules-right {
	margin: 4px;
	padding: 3px;
	background-color: @light-background;
	border-radius: 2rem;
}

window#waybar {
    /* background-color: #313244; old */
    background-color: @background; 
    /* background-color: transparent; */
    color: @text;
    transition-property: background-color;
    transition-duration: .25s;
}

window#waybar.hidden {
    opacity: 0.9;
}

window#waybar.empty {
    background-color: rgba(5, 5, 5, 5);
}
/*
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces {
	margin: 4px;
	padding: 3px;
	background-color: @light-background;
	border-radius: 2rem;
}

#workspaces button {
	padding-top: 0px;
	padding-bottom: 0px;
	/* padding-left: 4px; */
	/* padding-right: 4px; */
	padding: 0px;
	margin: 2px;
    /* background-color: transparent; */
    background-color: @ultralight-background;
    color: #cdd6f4;
    border-radius: 2rem;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: #585b70;
}

#workspaces button.focused {
    background-color: @ultralight-background;
    color: @lightblue;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

#mode {
    background-color: #f38ba8;
    /* border-bottom: 3px solid #ffffff; */
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
	border-radius: 2rem;
	padding-left: 8px;
	padding-right: 8px;
	margin: 2px;
    color: @text;
}

#window {
    margin: 4px;
    background-color: @light-background;
    border-radius: 2rem;
    padding-left: 8px;
    padding-right: 8px;
    /* padding: 0 6px; */
}

window#waybar.empty #window {
	background-color: rgba(12, 12, 12, 0.6);
}

#clock {
    background-color: @ultralight-background;
}

#battery {
    background-color: @ultralight-background;
    color: @yellow;
}

#battery.charging, #battery.plugged {
    color: @green;
    background-color: @ultralight-background;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: @ultralight-background;
}

#network.disconnected {
    background-color: @red;
    color: @dark-text;
}

#pulseaudio {
    background-color: @ultralight-background;
    color: @text;
}

#pulseaudio.muted {
    background-color: @ultralight-background;
    color: @red;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    /* background-color: #a6e3a1; */
    background-color: @ultralight-background;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
#waybar {
    background-color: rgba(4, 4, 4, 0.8); /* Пример для полупрозрачного черного фона */
    border: none; /* Опционально: убрать границы, если они есть */
    padding: 0px 10px; /* Опционально: добавить отступы */
}
#window {
    background: rgba(12, 12, 12, 0.4);
    color: #e5e5e5;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

#window.empty {
    background: rgba(12, 12, 12, 0.0);
}

#custom-keyboard_layout {
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Прозрачный фон */
    border-radius: 4px;
}
